<div id="header-sticky"
  [ngClass]="headerSticky ? 'header__area header__transparent header__padding sticky' : 'header__area header__transparent header__padding'"
  [class.header__white]="header__white">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-2 col-sm-4 col-6">
        <div class="header__left d-flex">
          <div class="logo">
            <a [routerLink]="['/home']">
              <img *ngIf="header__white && !headerSticky else elseImg" alt="logo" />
              <ng-template #elseImg>
                <img src="../../../../favicon.ico" alt="">
              </ng-template>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-10 col-sm-8 col-6">
        <div class="header__right d-flex justify-content-end align-items-center">
          <div class="main-menu" [class.main-menu-3]="header__white">
            <nav id="mobile-menu" class="d-none d-xl-block">
              <ul>
                <li>
                  <a [routerLink]="['/']">Home</a>
                </li>
                <li>
                  <a [routerLink]="['/teachers']">Instructores</a>
                </li>
                <li>
                  <a [routerLink]="['/maps']">Mapa</a>
                </li>
                <li>
                  <a [routerLink]="['/blog']">Blog</a>
                </li>
                <li><a [routerLink]="['/contacto']">Contacto</a></li>
              </ul>
            </nav>
          </div>
          <div class="header__search p-relative ml-50 d-none d-md-block">
            <form action="#">
              <input type="text" placeholder="Buscar...">
              <button type="submit"><i class="fad fa-search"></i></button>
            </form>
          </div>
          <div class="header__btn ml-20  d-sm-block">
            <div class="dropdown">
              <a class="dropdown-toggle e-btn" href="#" role="button" id="loginDropdown" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="../../../../favicon.ico" alt="">
              </a>
              <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                <li><a class="dropdown-item" [routerLink]="['/auth/login']">Ingresar</a></li>
                <li><a class="dropdown-item" [routerLink]="['/auth/register']">Registrarse</a></li>
              </ul>
            </div>
          </div>


          <div class="sidebar__menu d-xl-none">
            <div (click)="handleSidebar()" class="sidebar-toggle-btn ml-30" id="sidebar-toggle">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div (click)="handleCartClose()" [class.opened]="showCart" class="body-overlay"></div>
<!-- cart mini area end -->

<!-- sidebar area start -->
<div class="sidebar__area" [class.sidebar-opened]="showSidebar">
  <div class="sidebar__wrapper">
    <div (click)="handleSidebarClose()" class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn">
        <span><i class="fal fa-times"></i></span>
        <span>close</span>
      </button>
    </div>
    <div class="sidebar__content">
      <div class="logo mb-40">
        <a [routerLink]="['/']">
          <img src="" alt="logo">
        </a>
      </div>

      <div class="side-info-content sidebar-menu mm-menu border-0">
        <ul>
          <li class="menu-item-has-children home border-0" [class.active]="showHomeDropdown">
            <a (click)="homeDropdown()">Home</a>
          </li>

          <li class="menu-item-has-children " [class.active]="showCoursesDropdown">
            <a (click)="coursesDropdown()" class="border-0">Mapa</a>
            <ul class="sub-menu" [class.active]="showCoursesDropdown">
            </ul>
          </li>

          <li class="menu-item-has-children" [class.active]="showBlogDropdown">
            <a (click)="blogDropdown()" class="border-0">Blog</a>
            <ul class="sub-menu" [class.active]="showBlogDropdown">
            </ul>
          </li>
          <li>
            <a [routerLink]="['/contact']" class="border-0">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div (click)="handleSidebarClose()" class="body-overlay" [class.opened]="showSidebar"></div>
<!-- sidebar area end -->