.rounded-img {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image-placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--bs-secondary-color);
}

.rounded-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
